
body {
    max-width: 1000px;
    background: rgb(225, 225, 225);
    padding: 0px;
    margin: 0px;
} 

ul {
	position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    background-color: rgb(130, 130, 130);
    top: 0;
}

li {
	float: left;

}

li a {
    display: block;
    padding:15px 35px;
    margin: 0;
    color:black;
    text-decoration: none;
    width: auto;
    border: 1px hidden;
    border-bottom:solid rgb(50, 50, 50);
    border-top: solid rgb(50,50,50);
}

li a:hover {
	background-color: rgb(100, 100, 100);
}

li a.active {
    background-color: rgb(170, 170, 170);
}

body style {text-align: center;}

* { font-family: Trebuchet MS
 }

#Below_Navbar {
	margin-top: 25px;
	height: 1500px;
	padding: 145px 0px 0px 55px;
    list-style-type: auto;
}

header {
    color: white;
    display: block;
    padding: 9px 525px;
    border-bottom: solid;
    font-family: Verdana;
    background-color:rgb(60, 60, 60);
}